.shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shell-body {
  display: flex;
  flex: 1;
}

.shell-content {
  flex: 1;
  padding: 1.5rem;
}

.shell-topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 25px 0 25px;
  position: relative;
  z-index: 1100;
}